<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form class="needs-validation" action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="00"
                            aria-label="Amount (to the nearest dollar)" required>
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="image">Add Image(s)</label>
                    <div class="input-group">
                        <input type="file" name="image" class="form-control" id="image"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
                        <!-- <button class="btn btn-outline-secondary border-start-0 border pt-0" type="button" id="inputGroupFileAddon04">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                          </svg>
                        </button> -->
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">Back to All Campgrounds</a>
        </div>
    </div>